.solid-edge {
	border-top-width: 2px;
	margin: 0px 0px;
}

.thick-margin {
	margin: 15px 0px;
}

.un-padded{
	padding-left: 20px;
}

.menu-shadow {
  -moz-box-shadow:    0px 2px 2px #ccc;
  -webkit-box-shadow: 0px 2px 2px #ccc;
  box-shadow:         0px 2px 2px #ccc;
}

.nav > li > a {
	font-size: 18px;
	padding: 17px 20px;
}

.glass {
	position: absolute;
	z-index: 10;
	background-color: #fff;
	left: 0px;
	right: 0px;
	opacity: 0.8;
}

.carousel-caption {
	position: relative;
	left: 0px;
	right: 0px;
	top: 100px;
	max-width: 50%;
}

.carousel-caption h1 {
	font-size: 50px;
}

.carousel-caption .lead {
	font-size: 35px;
	font-weight: 100;
}

.carousel-indicators .active {
	background-color: #EE5929;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

.carousel-indicators li {
	width: 16px;
	height: 16px;
	border: 1px solid #EE5929;
	border-radius: 16px;
	margin-left: 10px;
	margin-right: 10px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	height: 500px;
	margin-bottom: 30px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 500px;
}